<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <!-- CONFIGURACOES ORACLE CLOUD -->
  <appSettings>
    <!-- USANDO ORACLE CLOUD AUTONOMOUS DATABASE -->
    <add key="OracleDataSource" value="pontoofflinedb_tp" />
    <add key="OracleUser" value="TESTE_PONTO" />
    <add key="OraclePassword" value="Medeixaempaz2001" />
    <add key="OraclePort" value="1521" />
    <!-- Tipo de Conexao: CLOUD (Oracle Autonomous) -->
    <add key="OracleConnectionType" value="CLOUD" />
    <!-- Configuracoes do Wallet (Oracle Cloud) -->
    <add key="OracleWalletLocation" value="C:\Users\Guto\Downloads\Wallet_PontoOfflineDB" />
    <add key="OracleTnsAdmin" value="C:\Users\Guto\Downloads\Wallet_PontoOfflineDB" />
    <!-- Nao usado para Cloud, mas mantido para compatibilidade -->
    <add key="OracleHost" value="localhost" />
    <add key="OracleServiceName" value="pontoofflinedb_tp" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- Configuracao Oracle ManagedDataAccess -->
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="TNS_ADMIN" value="C:\Users\Guto\Downloads\Wallet_PontoOfflineDB" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <!-- Connection Strings (mantidas para compatibilidade) -->
  <connectionStrings>
    <add name="Ponto_Offline_VB.My.MySettings.PontoOfflineVBConnectionString" connectionString="Data Source=DESKTOP-BNHPJH3\SQLEXPRESS;Initial Catalog=PontoOfflineVB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="Ponto_Offline_VB.My.MySettings.ConnectionString" connectionString="USER ID=TESTE_PONTO;PASSWORD=Medeixaempaz2001;DATA SOURCE=pontoofflinedb_tp;TNS_ADMIN=C:\Users\Guto\Downloads\Wallet_PontoOfflineDB;WALLET_LOCATION=C:\Users\Guto\Downloads\Wallet_PontoOfflineDB;PERSIST SECURITY INFO=True" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" 
                          publicKeyToken="89b483f429c47342" 
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-999.99.99.99" 
                         newVersion="4.122.23.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>